header
  //background: $headerColour
  display: flex
  //border-bottom: 2px solid $borderColourStrong
  padding-bottom: 1.45rem
  padding-top: 5.4rem
  

header > div
  flex: 1 1 100%

.route
  display: flex
  //justify-content: center
  border-bottom: 1px solid $borderColour
  padding-bottom: .3625rem
  
.arrow
  align-self: flex-end
  text-align: center
  font-size: 1.45rem
  
.route__label
  text-transform: uppercase
  font-size: .725rem
  opacity: .5
  letter-spacing: $letter-spacing-default
  
.route__location
  text-transform: uppercase
  letter-spacing: $letter-spacing-l
  


    
    