.select
  position: relative

select
  display: inline-block
  border: 0
  border-radius: 0
  background: none
  outline: none
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  color: $white
  font: inherit
  cursor: pointer
  // offset indent
  margin-left: -5px

  &::-ms-expand
    display: none

option
  padding: 0