$black : #000
$white : #fff

$red   : #E50C35
$orange : #FDA229
$green  : #1BB28A
$yellow : #F9DC5C

$darkblue: #041626 
$blue : #003B5B



$headerColour: $darkblue
$bodyColour : $black
$flipButtonColour: $yellow

$borderColour : rgba(255, 255, 255, .3)
$borderColourStrong : rgba(255, 255, 255, .5)