.image
  max-width: 100%
  height: auto
  display: block

.no-margin
  margin: 0 !important

.is-hidden
  display: none !important
  
.is-block
  display: block !important
  
.not-visible
  visibility: hidden

.js-hidden
  display: none

.has-text-white
  color: #FFFFFF !important
  
.scroller
  max-height: 45em
  overflow: scroll
  
.has-line-after
  display: flex
  align-items: center
  .line
    flex: 1
    display: inline-block
    height: 1px
    background: rgba(255,255,255,.35)
    margin-left: 1rem

  
.has-text-weight-regular
  font-weight: $font-weight-regular
  
.is-hidden-mobile
  display: none
  @include sm
    display: block
    display: initial
    
.is-external-link
.external-link
  display: inline-block
  height: .725em
  width: .725em
  max-height: .725em
  max-width: .725em
  margin-left: .725ch
    
.no-scroll
  overflow: hidden
  
.is-visually-hidden
  position: absolute !important;
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  padding:0 !important
  border:0 !important
  height: 1px !important 
  width: 1px !important 
  overflow: hidden
  
  