.disclaimer
  padding: 0 1.45rem
  margin-top: auto
  @include md
    padding: 0 2.9rem

.disclaimer__info
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $black
  padding: 1.45rem
  @include md
    padding: 2.9rem
  p
    max-width: 66ch
    
.disclaimer__close
  opacity: .7
  font-size: .825rem